<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form [formGroup]="userForm">
    <div class="form-group">
      <label>UserName</label>
      <input type="text" #refName class="form-control" formControlName="name">
      <div *ngIf="userForm.controls['name'].hasError('required')" class="alert alert-danger">
         Please enter a name
      </div>  
      <div *ngIf="userForm.controls['name'].hasError('minlength')" class="alert alert-danger">
          Please enter atleast 5 char
       </div> 
       <div *ngIf="userForm.controls['name'].hasError('maxlength')" class="alert alert-danger">
          Do not exceed 20 char
       </div>
      <b>{{refName.className}}</b>
    </div>
    
    <div class="form-group">
    <label>Email</label>
    <input type ="text" class="form-control" formControlName="email">
    </div> 
    
     <div formGroupName="address">
         <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password">
          </div> 
      
          <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" formControlName="city">
            </div> 
      
            <div class="form-group">
                <label>PostelCode</label>
                <input type="text" class="form-control" formControlName="postalCode">
                <div *ngIf="userForm.controls['address'].controls['postalCode'].hasError('pattern')" class="alert alert-danger">
                  Digit should be 5 char
                </div>  
              </div>
     </div>
         
          <button class="btn btn-primary" (click)="onclick()">Submit</button>
  </form>   -->
  

  <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="enter location">
  </ion-searchbar> 
  <ion-list [hidden] = "!search.length">
    <ion-item (click)="showPlace(item)" *ngFor="let item of searchReasults">
        {{ item.description }}
    </ion-item>  
  </ion-list>
  <div style="padding: 10px;">
    <div
      style="padding: 0px 10px 10px;margin-top: -10px; background: #f3f1f1; border-radius: 5px;"
    >
      <input
        type="radio"
        name="demo"
        value="circular"
        [(ngModel)]="autocomplete.creation_type"
        id="radio-one"
        class="form-radio"
        (click)="radioChecked('circular')"
      /><label for="radio-one" style="margin-top: 15px;"> Circular</label>
      <input
        type="radio"
        name="demo"
        value="polygon"
        id="radio-one"
        class="form-radio"
        (click)="radioChecked('circular')"
      /><label for="radio-two"> Polygon</label>
    </div>
  </div> 
  <div
  *ngIf="autocomplete.creation_type == 'circular'"
  style="padding-left: 5px; padding-right: 5px"
  [ngClass]="searchReasults.length > 0 ? 'searchclass2' : 'searchclass1'"
>
  <ion-list style="margin: 0px; border-radius: 25px; background: #d5dbe3;">
    <ion-item style="background: transparent;">
      <ion-range
        style="padding: 0px; margin: 0px;"
        min="200"
        max="5000"
        pin="false"
        [(ngModel)]="fence"
        color="secondary"
        (ionChange)="callThis(fence)"
      >
        <ion-icon
          range-left
          small
          color="gpsc"
          name="remove-circle"
        ></ion-icon>
        <span range-left style="font-size: 10px;">
          200m
        </span>
        <span range-right style="font-size: 10px;">
          500m
        </span>
        <ion-icon range-right color="gpsc" name="add-circle"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col col-6 style="padding-left: 10px;">
      Radius:
    </ion-col>
    <ion-col col-6 style="text-align: right;padding-right: 10px;">
      <ion-badge color="gpsc"> {{fence}} </ion-badge>
    </ion-col>
  </ion-row>
</div>

  <div #mapElement id="map"> 
     <!-- <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="enter location">
  </ion-searchbar>  
      <ion-list>
        <ion-item *ngFor="let item of searchReasults">
            {{ item.description }}
        </ion-item>  
      </ion-list> -->
      <!-- <div style="padding: 10px;">
        <div
          style="padding: 0px 10px 10px;margin-top: -10px; background: white; border-radius: 5px;"
        >
          <input
            type="radio"
            name="demo"
            value="circular"
            id="radio-one"
            class="form-radio"
          /><label for="radio-one"> Circular</label>
          <input
            type="radio"
            name="demo"
            value="polygon"
            id="radio-one"
            class="form-radio"
          /><label for="radio-two"> Polygon</label>
        </div>
      </div> -->
  </div> 
<button routerLink="/camera" routerDirection="forword">Camera App</button>
  <!-- <div #mapElement id="map">
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="enter location">
    </ion-searchbar> 
    <ion-list>
      <ion-item *ngFor="let item of searchReasults">
          {{ item.description }}
      </ion-item>  
    </ion-list> 
  </div>   -->
  <!-- <ion-card>
    <ion-card-header>Coordinates</ion-card-header>
    <ion-card-content>
      <ion-item>
        latitude: {{ lat }}
      </ion-item>
      <ion-item>
        longitude: {{ long }}
      </ion-item>    
    </ion-card-content>  
  </ion-card>   -->

   
  <!-- <agm-map [latitude]="lat" [longitude]="long" [zoom]="15" [disableDefaultUI]="false">
      <agm-marker [latitude]="lat" [longitude]="long" [markerDraggable]= true>
      </agm-marker>  
  </agm-map>   -->
  
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
</ion-content>
